.questions-counter
{
    font-size: 0.875rem;
    font-weight: 600;
    text-align: end;
}

.question-header
{
    border: solid 1px #9daebf91;
    border-radius: 20px;
    padding: 20px;

    font-size: 1.08rem;
    text-align: center;
    font-weight: 600;
}

.clickable-answer-box
{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 0.975rem;

    background-color: #8a848442;
    border-radius: 5px;

    flex: 1 1 40%;
    min-width: 60px;
    height: 60px;

    margin: 10px;

    cursor: pointer;
    user-select: none;
    transition: background-color 0.15s;

    &:hover
    {
        background-color: #8a8484be;
    }

    &:active
    {
        background-color: #8a8484e3;
    }

    &.correct-answer
    {
        background-color: rgba(0, 128, 0, 0.75);
    }

    &.wrong-answer
    {
        background-color: rgba(255, 0, 0, 0.75);
    }
}
