.questions-counter {
  font-size: 0.875rem;
  font-weight: 600;
  text-align: end;
}

.question-header {
  border: solid 1px #9daebf91;
  border-radius: 20px;
  padding: 20px;
  font-size: 1.08rem;
  text-align: center;
  font-weight: 600;
}

.clickable-answer-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.975rem;
  background-color: #8a848442;
  border-radius: 5px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
  min-width: 60px;
  height: 60px;
  margin: 10px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: background-color 0.15s;
  transition: background-color 0.15s;
}
.clickable-answer-box:hover {
  background-color: #8a8484be;
}
.clickable-answer-box:active {
  background-color: #8a8484e3;
}
.clickable-answer-box.correct-answer {
  background-color: rgba(0, 128, 0, 0.75);
}
.clickable-answer-box.wrong-answer {
  background-color: rgba(255, 0, 0, 0.75);
}/*# sourceMappingURL=SolveQuizz.css.map */