.smooth-rotations {
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}
.smooth-rotations.rotated-90 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.smooth-rotations.rotated-180 {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}/*# sourceMappingURL=Transform.css.map */