@mixin smooth-transform
{
    transition-duration: 0.25s;
}

.smooth-rotations
{
    @include smooth-transform;

    &.rotated-90
    {
        transform: rotate(90deg);
    }

    &.rotated-180
    {
        transform: rotate(180deg);
    }
}
