
/* Main navbar positioned at the top */
#mainNavbar 
{
    background-color: #f4511e;
}

#mainNavbar a.nav-link, #mainNavbar .btn-nav-link 
{  
	color: #ffffff;
	
    font-size: 12px;
    font-family: Montserrat, sans-serif;
    letter-spacing: 3px;

	padding: 10px 12px;

	transition: border-radius 0.3s;
	transition-timing-function: ease-out;
}

#mainNavbar .btn-nav-link 
{
	background: none;

    border: none;
    outline: none;
    cursor: pointer;
}
#mainNavbar a.nav-link:hover, #mainNavbar .btn-nav-link:hover 
{
    background-color: #ffffff;
	color: #f4511e;

    border-radius: 12px;
}


/* Authentication modal */
#mainModal .modal-header
{
	padding: 0;
}

#mainModal .modal-header .modal-title
{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 1.2rem;

	margin: 0.5rem 0 0 0.5rem;
}

#mainModal .modal-header .close
{
	border-radius: 0.5rem;
	padding: 0.5rem;
	margin: 0.2rem 0.2rem 0.2rem 0;
}
#mainModal .modal-header .close:hover
{
	background-color: darkgray;
}

#mainModal .btn
{
	transition: border-radius 0.5s;
}
#mainModal .btn:hover
{
	border-radius: 0.6rem;
}


/* Wide modal used for displaying domain data */
.navbarModal
{
	position: fixed;
	left: 0;
	top: 0;	
	z-index: 1000;

	width: 100%;
	height: 100%;
	visibility: hidden;
	opacity: 0;

	transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;

	background-color: rgba(0, 0, 0, 0.5);
}

.navbarModal-content
{
	position: absolute;
	left: 50%;
	top: 50%;

	width: 90%;
	height: 80%;
	transform: translate(-50%, -50%);

	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 0.5rem;

	background-color: white;
}

.navbarModal-content-header
{
	display: flex;
	align-items: flex-start;
	justify-content: space-between;

	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 1.5rem;

	border-bottom: 1px solid #dee2e6;
}

.navbarModal-content-headerTitle
{
	margin: 0.6rem 0 0 0.6rem;
}

.navbarModal #navbarModal-closeButton
{
	width: 2.5rem;

	text-align: center;

	cursor: pointer;
	border-radius: 0.25rem;

	margin: 0.4rem 0.4rem 0 0;
}
.navbarModal #navbarModal-closeButton:hover
{
	background-color: darkgray;
}

.navbarModal-content-body
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-column-gap: 0.8rem;

    margin: 1rem;
}


.navbarModal-content-body .searchModule
{

}

.navbarModal-content-body .searchModule .searchBar
{
    border-bottom: 1px solid darkgrey;

    margin-bottom: 0.1rem;
}

.navbarModal-content-body .searchModule .searchBar .searchKeyInput
{
    border: none;
    outline: none;

    transition: background-color 0.25s;
}
.navbarModal-content-body .searchModule .searchBar .searchKeyInput:hover
{
    background-color: lightgrey;
}
.navbarModal-content-body .searchModule .searchBar .searchKeyInput:focus
{
    background-color: lightgrey;
}


.navbarModal-content-body .searchModule .searchBar .searchSubmitButton
{
    border: none;
    background-color: white;

    transition: background-color 0.25s;
}
.navbarModal-content-body .searchModule .searchBar .searchSubmitButton:hover
{
    background-color: darkgrey;
}

.navbarModal-content-body .searchModule .entitiesList
{
    display: flex;
    flex-flow: column wrap;
}
.navbarModal-content-body .searchModule .entitiesList:last-child
{
    margin-bottom: 1.6rem;
}

.navbarModal-content-body .searchModule .entitiesList .listItem
{
    border-bottom: 0.05rem solid lightgrey;
    border-radius: 0.1rem;

    margin-top: 0.4rem;

    transition: background-color 0.25s;
}
.navbarModal-content-body .searchModule .entitiesList .listItem:hover
{
    background-color: lightblue;
    cursor: pointer;
}

.navbarModal-content-body .searchModule .entitiesList .listItem.selectedCategory
{
    background-color: slateblue;
}



.navbarModal-displayModal
{
	visibility: visible;
	opacity: 1; 

	transform: scale(1.0);
	transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
