.selectable-table {
  width: 100%;
  border-collapse: collapse;
}
.selectable-table tbody tr {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: background-color 100ms;
  transition: background-color 100ms;
}
.selectable-table tbody tr:not(:last-child) {
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
}
.selectable-table tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.2);
}/*# sourceMappingURL=SelectableTable.css.map */