.selectable-table
{
    width: 100%;
    border-collapse: collapse;

    tbody
    {
        tr
        {
            cursor: pointer;
            user-select: none;

            background-color: rgba($color: #000000, $alpha: 0);
            transition: background-color 100ms;

            &:not(:last-child)
            {
                border-bottom: 2px solid rgba($color: #ffffff, $alpha: 0.4);
            }

            &:hover
            {
                background-color: rgba($color: #000000, $alpha: 0.2);
            }
        }     
    }  
}