.selectable-list {
  list-style: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 0px;
}
.selectable-list .selectable-list-item {
  cursor: pointer;
  display: block;
  padding: 2px;
  border-radius: 2.5px;
  min-width: 80px;
  -webkit-transition: background-color 100ms;
  transition: background-color 100ms;
}
.selectable-list .selectable-list-item:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.selectable-list .selectable-list-item.selected-item {
  background-color: rgba(0, 0, 0, 0.25);
}

.selectable-list-dropdown-wrapper {
  position: relative;
  display: inline-block;
}

.selectable-list-dropdown {
  position: absolute;
  left: 100%;
  top: 0px;
  background-color: #f2f2f2;
  border-radius: 2px;
  padding: 0px 2px;
  z-index: 900;
}/*# sourceMappingURL=SelectableList.css.map */