@use "../../Common/Variables/Colors/Colors";

.selectable-list
{
    list-style: none;
    user-select: none;

    padding: 0px;

    .selectable-list-item
    {
        cursor: pointer;

        display: block;
        padding: 2px;
        border-radius: 2.5px;

        min-width: 80px;

        transition: background-color 100ms;

        &:hover
        {
            background-color: rgba($color: #000000, $alpha: 0.2);
        }

        &.selected-item
        {
            background-color: rgba($color: #000000, $alpha: 0.25);
        }
    }
}

.selectable-list-dropdown-wrapper
{
    position: relative;
    display: inline-block;
}

.selectable-list-dropdown
{
    position: absolute;
    left: 100%;
    top: 0px;

    background-color: Colors.$component-section-background;

    border-radius: 2px;
    padding: 0px 2px;
    z-index: 900;
}
